<div class="nav">
        <div class="logo">Thapaweather</div>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="./weather">Weather</a></li>
                <li><a href="https://vikas2295998.github.io/Portfolio/" target="_blank">About</a></li>
            </ul>
    </div>